
.photo-container {
    display: flex;
    justify-content: center;
    width: 100px;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.photo-bar {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 10px;
}

.photos {
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 50%;
}

.slick-next {
    display: none;
} 
.slick-arrow {
    display: none;
}

